In [51]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Note: The following do not work with Python 3.12
import shap
# from ydata_profiling import ProfileReport
import sweetviz as sv

Reproducibility:

In [52]:
seed = 2024

# pandas, statsmodels, matplotlib and y_data_profiling rely on numpy's random generator, and thus, we need to set the seed in numpy
np.random.seed(seed)

In [53]:
diet = pd.read_csv('diet.csv', low_memory=False)
diet['Diet'] = diet['Diet'].astype('category')
diet

         AuthorId        Diet  Age
0       10000120E  Vegetarian   46
1        1000014D       Vegan   18
2        1000015A  Vegetarian   58
3        1000016E  Vegetarian   32
4        1000027E       Vegan   61
...           ...         ...  ...
271902    999917E  Vegetarian   28
271903    999936C    Omnivore   22
271904     99993D  Vegetarian   58
271905     99994A  Vegetarian   18
271906    999991A  Vegetarian   21

[271907 rows x 3 columns]

Data Understanding

In [54]:
# user_count= diet['AuthorId']
# print(f'The number of author ids is: {user_count.size}')
# print(f'The number of unique author ids is: {user_count.unique().size}')

Different Graphs of Diet.csv

In [55]:
# # Histogram of Ages
# plt.figure(figsize=(10, 6))
# plt.hist(diet['Age'], bins=20, color='skyblue', edgecolor='black')
# plt.title('Distribution of Ages')
# plt.xlabel('Age')
# plt.ylabel('Frequency')
# plt.show()

In [56]:
# #Box Plot of Ages by Diet: Explore relationships between numerical variables (Age) using a pair plot.
# plt.figure(figsize=(12, 8))
# sns.boxplot(x='Diet', y='Age', data=diet, palette='pastel')
# plt.title('Box Plot of Ages by Diet')
# plt.xlabel('Diet')
# plt.ylabel('Age')
# plt.show()

In [57]:
# #Count Plot of Diets: Show the count of each diet category using a count plot.
# plt.figure(figsize=(10, 6))
# sns.countplot(x='Diet', data=diet, palette='viridis')
# plt.title('Count of Diets')
# plt.xlabel('Diet')
# plt.ylabel('Count')
# plt.show()

In [58]:
requests = pd.read_csv('requests.csv', low_memory=False)
requests['HighProtein'] = requests['HighProtein'].astype('category')
requests['LowSugar'] = requests['LowSugar'].astype('category')
requests

,AuthorId,RecipeId,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,2001012259B,73440,1799.950949,0.0,Indifferent,0,0,0
1,437641B,365718,4201.820980,0.0,Yes,0,Indifferent,1
2,1803340263D,141757,6299.861496,0.0,Indifferent,1,Indifferent,0
3,854048B,280351,19801.365796,0.0,Yes,1,0,1
4,2277685E,180505,5400.093457,0.0,Indifferent,0,0,0
...,...,...,...,...,...,...,...,...
140190,163793B,78171,1560.649725,0.0,Indifferent,0,0,1
140191,33888B,333262,1502.011466,1.0,Indifferent,1,0,0
140192,401942C,49200,5999.274269,0.0,Indifferent,0,0,1
140193,346866B,214815,899.523513,0.0,Yes,1,Indifferent,1
140194,1786859E,117923,7199.637837,1.0,Indifferent,0,0,1

In [59]:
# user_count= requests['AuthorId']
# print("Author Id ")
# print(f'The number of author ids is: {user_count.size}')
# print(f'The number of unique author ids is: {user_count.unique().size}')
# print(f'Author Diff: {user_count.size-user_count.unique().size}')
# recipe_count= requests['RecipeId']
# print("Recipe Id ")
# print(f'The number of recipe ids is: {recipe_count.size}')
# print(f'The number of unique recipe ids is: {recipe_count.unique().size}')
# print(f'Recipe Diff: {recipe_count.size-recipe_count.unique().size}')

In [60]:
# #Correlation Heatmap: Visualize the correlation between numerical variables.
# # Exclude non-numeric columns
# numeric_columns = requests[['Time', 'HighCalories', 'LowFat', 'HighFiber']]
# correlation_matrix = numeric_columns.corr()
# 
# # Plot the heatmap
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=.5)
# plt.title('Correlation Heatmap for Request Variables')
# plt.show()

In [61]:
# #Bar Plot of HighProtein Requests: Visualize the count of HighProtein requests.
# plt.figure(figsize=(8, 5))
# sns.countplot(x='HighProtein', data=requests, palette='Set2')
# plt.title('Count of HighProtein Requests')
# plt.xlabel('HighProtein')
# plt.ylabel('Count')
# plt.show()

In [62]:
# #Bar Plot of LowSugar Requests: Visualize the count of LowSugar requests.
# plt.figure(figsize=(8, 5))
# sns.countplot(x='LowSugar', data=requests, palette='pastel')
# plt.title('Count of LowSugar Requests')
# plt.xlabel('LowSugar')
# plt.ylabel('Count')
# plt.show()

In [63]:
reviews = pd.read_csv('reviews.csv', low_memory=False)
reviews

           AuthorId  RecipeId  Rating   Like  TestSetId
0          2492191A     33671     2.0    NaN        1.0
1       2002019979A     92647     2.0    NaN        2.0
2           408594E    161770     NaN    NaN        3.0
3       2001625557E    108231     2.0    NaN        4.0
4       2001427116E     71109     NaN    NaN        5.0
...             ...       ...     ...    ...        ...
140190      999595E    338070     2.0  False        NaN
140191      999774A     29002     2.0  False        NaN
140192      999774A    159252     NaN  False        NaN
140193      999774A      1171     2.0   True        NaN
140194      999917E    169413     2.0  False        NaN

[140195 rows x 5 columns]

In [64]:
# user1_count= reviews['AuthorId']
# print("Author Id ")
# print(f'The number of author ids is: {user1_count.size}')
# print(f'The number of unique author ids is: {user1_count.unique().size}')
# print(f'Author Diff: {user_count.size-user_count.unique().size}')
# recipe1_count= reviews['RecipeId']
# print("Recipe Id ")
# print(f'The number of recipe ids is: {recipe1_count.size}')
# print(f'The number of unique recipe ids is: {recipe1_count.unique().size}')
# print(f'Recipe Diff: {recipe_count.size-recipe_count.unique().size}')

In [65]:
# #Scatter Plot of Rating vs Like:Investigate the relationship between ratings and likes using a scatter plot
# plt.figure(figsize=(10, 6))
# plt.scatter(reviews['Rating'], reviews['Like'], alpha=0.5, color='green')
# plt.title('Scatter Plot of Rating vs Like')
# plt.xlabel('Rating')
# plt.ylabel('Like')
# plt.show()

In [66]:
recipes = pd.read_csv('recipes.csv', low_memory=False)
recipes.rename(columns={
    'Name': 'RecipeName'
}, inplace=True)
recipes

,RecipeId,RecipeName,CookTime,PrepTime,RecipeCategory,RecipeIngredientQuantities,RecipeIngredientParts,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"c(""\""6\"""", ""\""2\"""", ""\""1 1/2\"""", ""\""1/4\"""", ""\...","c(""\""hazelnuts\"""", ""\""broccoli florets\"""", ""\""...",241.3,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
1,365718,Cashew-chutney Rice,3600,600,Other,"c(""\""1\"""", ""\""3/4\"""", ""\""6\"""", ""\""5\"""", ""\""2\""...","c(""\""celery\"""", ""\""onion\"""", ""\""butter\"""", ""\""...",370.8,17.5,7.2,22.9,553.3,44.3,1.6,2.2,9.4,8.0,NaN
2,141757,Copycat Taco Bell Nacho Fries BellGrande,3600,2700,Other,"c(""\""3\"""", ""\""1/2\"""", ""\""1\"""", ""\""1\"""", ""\""3\""...","c(""\""Copycat Taco Bell Seasoned Beef\"""", ""\""ye...",377.6,20.9,10.5,45.7,1501.8,36.6,3.8,6.1,12.9,8.0,NaN
3,280351,Slow Cooker Jalapeno Cheddar Cheese Soup,18000,1800,Other,"c(""\""2\"""", ""\""1\"""", ""\""2\"""", ""\""2\"""", ""\""1\"""",...","c(""\""unsalted butter\"""", ""\""yellow onion\"""", ""...",282.8,16.5,10.3,50.5,630.2,22.8,2.3,2.7,11.7,6.0,NaN
4,180505,Cool & Crisp Citrus Chiffon Pie,3600,1800,Other,"c(""\""1\"""", ""\""1/4\"""", ""\""1/2\"""", ""\""1/2\"""", ""\...","c(""\""unflavored gelatin\"""", ""\""water\"""", ""\""su...",257.5,8.6,2.4,110.7,160.9,39.8,0.4,30.2,6.3,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75599,253577,Frijoles Negros- Crock Pot Mexican Black Beans,43200,28800,Other,"c(""\""2\"""", ""\""6 -8\"""", ""\""5\"""", ""\""1/2\"""", ""\""...","c(""\""black beans\"""", ""\""water\"""", ""\""bay leave...",121.5,0.5,0.1,0.0,1175.1,22.2,7.8,0.6,7.9,NaN,NaN
75600,267827,Moose Moussaka,3600,2700,Other,"c(""\""1\"""", ""\""6\"""", ""\""2\"""", ""\""2\"""", ""\""1/2\""...","c(""\""onion\"""", ""\""garlic cloves\"""", ""\""olive o...",652.2,25.8,10.7,197.9,435.5,51.9,7.5,7.2,50.1,NaN,NaN
75601,266983,Cantonese Pepper Steak for Two (Or More),1800,900,Other,"c(""\""1/2\"""", ""\""1\"""", ""\""1/8\"""", ""\""1/8\"""", ""\...","c(""\""top round steak\"""", ""\""cornstarch\"""", ""\""...",223.9,9.2,3.6,78.3,725.9,7.3,1.1,1.7,26.7,2.0,NaN
75602,253739,Coconut Cream Cooler,300,120,Other,"c(""\""1\"""", ""\""1\"""", ""\""1\"""", ""\""7 1/2\"""", ""\""1...","c(""\""cream of coconut\"""", ""\""water\"""")",2229.8,80.3,69.3,0.0,294.7,369.0,15.7,317.9,26.7,NaN,1 gallon
75603,78171,Cheater Risotto,960,600,Other,"c(""\""1\"""", ""\""3/4\"""", ""\""4\"""", ""\""1\"""", ""\""1\""...","c(""\""arborio rice\"""", ""\""white wine\"""", ""\""gar...",654.1,13.8,6.9,34.6,1114.0,92.2,3.9,4.2,21.8,NaN,2 1/2 cups

In [67]:
# recipe1_count= recipes['RecipeId']
# print("Recipe Id ")
# print(f'The number of recipe ids is: {recipe1_count.size}')
# print(f'The number of unique recipe ids is: {recipe1_count.unique().size}')

In [68]:
# #Pair Plot for Nutritional Content:Explore relationships between nutritional content variables using a pair plot.
# nutritional_content = recipes[['Calories', 'FatContent', 'CarbohydrateContent', 'ProteinContent']]
# sns.pairplot(nutritional_content)
# plt.suptitle('Pair Plot of Nutritional Content', y=1.02)
# plt.show()

In [69]:
# #Histogram for Calories:Explore the distribution of calories in recipes using a histogram.
# custom_bins = np.arange(0, 5100, 200)  # Adjust the range and interval as needed
# 
# plt.figure(figsize=(10, 6))
# plt.hist(recipes['Calories'], bins=custom_bins, color='skyblue', edgecolor='black')
# plt.title('Distribution of Calories in Recipes')
# plt.xlabel('Calories')
# plt.ylabel('Frequency')
# 
# # Set x-axis labels
# plt.xticks(custom_bins)
# 
# plt.show()

In [70]:
# #Bar Plot for Recipe Categories: Visualize the distribution of recipes across different categories using a bar plot.
# plt.figure(figsize=(14, 8))
# sns.boxplot(x='RecipeCategory', y='CookTime', data=recipes, palette='Set2')
# plt.title('Box Plot of Cook Time by Recipe Category')
# plt.xlabel('Recipe Category')
# plt.ylabel('Cook Time')
# plt.xticks(rotation=45, ha='right')
# plt.show()

In [71]:
# plt.figure(figsize=(12, 8))
# sns.countplot(x='RecipeCategory', data=recipes, palette='viridis', order=recipes['RecipeCategory'].value_counts().index)
# plt.title('Distribution of Recipes across Categories')
# plt.xlabel('Recipe Category')
# plt.ylabel('Count')
# plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
# plt.show()

In [72]:
merged_request_review = pd.merge(reviews,requests,on=['AuthorId','RecipeId'])
merged_request_review

,AuthorId,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,2492191A,33671,2.0,NaN,1.0,2698.714376,0.0,Indifferent,1,0,1
1,2002019979A,92647,2.0,NaN,2.0,2399.694583,1.0,Indifferent,0,Indifferent,1
2,408594E,161770,NaN,NaN,3.0,2099.113170,1.0,Indifferent,0,0,1
3,2001625557E,108231,2.0,NaN,4.0,1199.645575,1.0,Yes,0,0,1
4,2001427116E,71109,NaN,NaN,5.0,2341.181827,1.0,Indifferent,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
140190,999595E,338070,2.0,False,NaN,3899.421310,0.0,Indifferent,1,Indifferent,0
140191,999774A,29002,2.0,False,NaN,2402.372535,0.0,Indifferent,0,Indifferent,0
140192,999774A,159252,NaN,False,NaN,5999.598903,0.0,Yes,0,0,0
140193,999774A,1171,2.0,True,NaN,480.233207,1.0,Yes,0,0,0
140194,999917E,169413,2.0,False,NaN,3600.387748,0.0,Indifferent,0,Indifferent,0

In [73]:
# user1_count= merged_request_review['AuthorId']
# print("Author Id ")
# print(f'The number of author ids is: {user1_count.size}')
# print(f'The number of unique author ids is: {user1_count.unique().size}')
# print(f'Author Diff: {user_count.size-user_count.unique().size}')
# recipe1_count= merged_request_review['RecipeId']
# print("Recipe Id ")
# print(f'The number of recipe ids is: {recipe1_count.size}')
# print(f'The number of unique recipe ids is: {recipe1_count.unique().size}')
# print(f'Recipe Diff: {recipe_count.size-recipe_count.unique().size}')

In [74]:
# #eatmap for Correlation: Visualize the correlation between numerical variables.
# correlation_matrix = merged_request_review[['Rating', 'Like', 'Time', 'HighCalories', 'LowFat', 'HighFiber']].corr()
# plt.figure(figsize=(12, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=.5)
# plt.title('Correlation Heatmap for Merged Data')
# plt.show()

In [75]:
# plt.figure(figsize=(8, 5))
# sns.barplot(x='HighProtein', y='Rating', data=merged_request_review, palette='Set2')
# plt.title('Average Rating for Recipes with and without High Protein')
# plt.xlabel('HighProtein')
# plt.ylabel('Average Rating')
# plt.show()

In [76]:
# plt.figure(figsize=(10, 6))
# sns.boxplot(x='HighCalories', y='Like', data=merged_request_review, palette='pastel')
# plt.title('Box Plot of Likes for Recipes with and without High Calories')
# plt.xlabel('HighCalories')
# plt.ylabel('Like')
# plt.show()

In [77]:
# sns.pairplot(merged_request_review[['Like', 'Time', 'HighCalories', 'HighProtein', 'LowFat', 'LowSugar', 'HighFiber']])
# plt.suptitle('Pair Plot of Merged Data', y=1.02)
# plt.show()

**CHECK** If a following recipe id exists and how many times and if the Recipe Id is mapped to the unique AuthorId

In [78]:
# recipe_id_to_check = merged_request_review['RecipeId'].value_counts().idxmax()
# 
# # Display the result
# recipe_exists = merged_request_review['RecipeId'].isin([recipe_id_to_check])
# 
# # Display the result
# if recipe_exists.any():
#     # print(f"Recipe with RecipeId {recipe_id_to_check} exists.")
#     recipe_count = merged_request_review['RecipeId'].value_counts().get(recipe_id_to_check, 0)
#     print(f"Recipe with RecipeId {recipe_id_to_check} repeats {recipe_count} times.")
#     # Get the table of corresponding AuthorId values for the given RecipeId
#     author_id_table = merged_request_review.loc[merged_request_review['RecipeId'] == recipe_id_to_check, ['AuthorId','RecipeId']]
#     print("Table of AuthorId values for RecipeId", recipe_id_to_check)
#     print()
#     
# else:
#     print(f"Recipe with RecipeId {recipe_id_to_check} does not exist.")
# 
# author_id_table

In [79]:
# unique_recipe_ids_from_merge = merged_request_review['RecipeId'].unique()
# unique_recipe_ids_from_recipes = recipes['RecipeId'].unique()
# are_ids_equal = set(unique_recipe_ids_from_recipes) == set(unique_recipe_ids_from_merge)
# 
# if are_ids_equal:
#     print("The unique RecipeId values are the same in both DataFrames.")
# else:
#     print("The unique RecipeId values are not the same in both DataFrames.")
# 
# # # Assuming merged_request_review is the result of merging reviews and requests DataFrames
# # # using pd.merge(reviews, requests, on=['AuthorId', 'RecipeId'])
# # 
# # # Get the unique RecipeId values
# # unique_recipe_ids = merged_request_review['RecipeId'].unique()
# # 
# # # Initialize a list to store the uniqueness result for each RecipeId
# # uniqueness_results = []
# # 
# # # Iterate over unique RecipeId values
# # for recipe_id in unique_recipe_ids:
# #     # Get the table of corresponding AuthorId values for the given RecipeId
# #     author_id_table = merged_request_review.loc[merged_request_review['RecipeId'] == recipe_id, ['AuthorId', 'RecipeId']]
# # 
# #     # Check if the mapped AuthorId values are unique
# #     is_author_id_unique = ~author_id_table['AuthorId'].duplicated().any()
# # 
# #     uniqueness_results.append((recipe_id, is_author_id_unique))
# # 
# # # Create a DataFrame from the results
# # uniqueness_df = pd.DataFrame(uniqueness_results, columns=['RecipeId', 'IsAuthorIdUnique'])
# # 
# # # Display the DataFrame
# # print(uniqueness_df)
# # # 
# # # Visualization: Bar plot of unique AuthorId counts for each RecipeId
# # uniqueness_df.set_index('RecipeId')['IsAuthorIdUnique'].astype(int).plot(kind='bar', xlabel='RecipeId', ylabel='IsAuthorIdUnique (1: True, 0: False)', title='Uniqueness of AuthorId for Each RecipeId')
# # plt.show()

In [80]:
merged_recipes_req_review= pd.merge(merged_request_review,recipes,on=['RecipeId'],how='right')
merged_recipes_req_review

,AuthorId,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,LowFat,LowSugar,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,914496A,73440,NaN,NaN,1548.0,1800.709345,0.0,Indifferent,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
1,2668181C,73440,2.0,NaN,2069.0,1797.825626,0.0,Yes,0,Indifferent,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
2,2000237272A,73440,2.0,NaN,2152.0,1800.440504,1.0,Indifferent,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
3,2001895110E,73440,NaN,NaN,3293.0,1799.437007,0.0,Indifferent,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
4,1800347124D,73440,NaN,NaN,4621.0,1801.007172,1.0,Yes,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,1677720D,253577,2.0,True,NaN,71998.977353,0.0,Indifferent,1,Indifferent,...,0.5,0.1,0.0,1175.1,22.2,7.8,0.6,7.9,NaN,NaN
140191,853126B,267827,NaN,NaN,7148.0,6299.278484,0.0,Yes,1,0,...,25.8,10.7,197.9,435.5,51.9,7.5,7.2,50.1,NaN,NaN
140192,2000154789A,266983,2.0,True,NaN,2700.812133,0.0,Yes,0,0,...,9.2,3.6,78.3,725.9,7.3,1.1,1.7,26.7,2.0,NaN
140193,499207A,253739,2.0,True,NaN,419.558713,1.0,Indifferent,0,Indifferent,...,80.3,69.3,0.0,294.7,369.0,15.7,317.9,26.7,NaN,1 gallon
140194,163793B,78171,NaN,True,NaN,1560.649725,0.0,Indifferent,0,0,...,13.8,6.9,34.6,1114.0,92.2,3.9,4.2,21.8,NaN,2 1/2 cups

Changing the object data types

Data Joining using common attributes

In [104]:
author_ID = 'AuthorId'
merged_diet_all = pd.merge(diet, merged_recipes_req_review, on=author_ID)
# merged_request_recipes = pd.merge(requests, recipes, on='RecipeId', how='left')
merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,1000036C,Vegetarian,50,320576,NaN,False,NaN,119.024930,0.0,Indifferent,...,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,1.0,NaN
1,1000216B,Vegetarian,78,189335,NaN,False,NaN,1199.386790,0.0,Yes,...,19.2,4.5,33.9,714.2,38.0,0.8,4.3,16.3,8.0,NaN
2,1000221A,Vegetarian,25,17444,NaN,False,NaN,3899.147999,1.0,Yes,...,10.3,6.0,36.6,119.8,13.7,1.0,1.0,8.7,12.0,NaN
3,1000221A,Vegetarian,25,133043,2.0,False,NaN,362.152341,0.0,Yes,...,13.5,1.9,0.0,0.6,1.9,0.4,0.4,0.2,NaN,4 ounces
4,1000221A,Vegetarian,25,90537,2.0,False,NaN,1198.957497,0.0,Yes,...,49.0,7.2,0.0,115.8,241.7,69.4,15.7,68.9,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,999774A,Vegetarian,57,29002,2.0,False,NaN,2402.372535,0.0,Indifferent,...,33.3,8.5,33.2,318.2,107.7,10.3,13.5,32.0,4.0,NaN
140191,999774A,Vegetarian,57,1171,2.0,True,NaN,480.233207,1.0,Yes,...,19.8,12.2,68.3,247.4,87.5,4.0,57.8,18.2,1.0,2 mugs
140192,999774A,Vegetarian,57,159252,NaN,False,NaN,5999.598903,0.0,Yes,...,0.6,0.1,0.0,6.8,240.4,7.0,229.8,1.1,NaN,4 cups
140193,999917E,Vegetarian,28,169413,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
140194,99994A,Vegetarian,18,373964,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts

Plot graphs of the data frames

Impute the missing values

In [105]:
# 1 value missing in diet column. Filled with most occuring value.
merged_diet_all['Diet'] = merged_diet_all['Diet'].fillna('Vegetarian')

In [106]:
#impute the values for all dietary preferences for all ages with the most frequent RecipeId for that age in that category
helper_df = merged_diet_all.groupby(['Age', 'Diet'])['RecipeId'].agg(lambda x: x.mode()[0]).reset_index()
helper_df.columns = ['Age', 'Diet', 'Most Common Recipe']
def impute_recipe(row):
    if pd.isnull(row['RecipeId']):
        return helper_df[(helper_df['Age'] == row['Age']) & (helper_df['Diet'] == row['Diet'])]['Most Common Recipe'].values[0]
    else:
        return row['RecipeId']
merged_diet_all['RecipeId'] = merged_diet_all.apply(impute_recipe, axis=1)
merged_diet_all

The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,1000036C,Vegetarian,50,320576,NaN,False,NaN,119.024930,0.0,Indifferent,...,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,1.0,NaN
1,1000216B,Vegetarian,78,189335,NaN,False,NaN,1199.386790,0.0,Yes,...,19.2,4.5,33.9,714.2,38.0,0.8,4.3,16.3,8.0,NaN
2,1000221A,Vegetarian,25,17444,NaN,False,NaN,3899.147999,1.0,Yes,...,10.3,6.0,36.6,119.8,13.7,1.0,1.0,8.7,12.0,NaN
3,1000221A,Vegetarian,25,133043,2.0,False,NaN,362.152341,0.0,Yes,...,13.5,1.9,0.0,0.6,1.9,0.4,0.4,0.2,NaN,4 ounces
4,1000221A,Vegetarian,25,90537,2.0,False,NaN,1198.957497,0.0,Yes,...,49.0,7.2,0.0,115.8,241.7,69.4,15.7,68.9,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,999774A,Vegetarian,57,29002,2.0,False,NaN,2402.372535,0.0,Indifferent,...,33.3,8.5,33.2,318.2,107.7,10.3,13.5,32.0,4.0,NaN
140191,999774A,Vegetarian,57,1171,2.0,True,NaN,480.233207,1.0,Yes,...,19.8,12.2,68.3,247.4,87.5,4.0,57.8,18.2,1.0,2 mugs
140192,999774A,Vegetarian,57,159252,NaN,False,NaN,5999.598903,0.0,Yes,...,0.6,0.1,0.0,6.8,240.4,7.0,229.8,1.1,NaN,4 cups
140193,999917E,Vegetarian,28,169413,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
140194,99994A,Vegetarian,18,373964,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts

In [107]:
# Fill the rest of the missing values in the merged_diet_all by mapping them from requests.csv with RecipeId as key 
# Create mapping DataFrames from `requests`
map_time = requests.set_index('RecipeId')['Time'].to_dict()
map_calories = requests.set_index('RecipeId')['HighCalories'].to_dict()
map_protein = requests.set_index('RecipeId')['HighProtein'].to_dict()
map_fat = requests.set_index('RecipeId')['LowFat'].to_dict()
map_sugar = requests.set_index('RecipeId')['LowSugar'].to_dict()
map_fiber = requests.set_index('RecipeId')['HighFiber'].to_dict()

# Apply mapping to `merged_diet_all`
merged_diet_all['Time'] = merged_diet_all['RecipeId'].map(map_time)
merged_diet_all['HighCalories'] = merged_diet_all['RecipeId'].map(map_calories)
merged_diet_all['HighProtein'] = merged_diet_all['RecipeId'].map(map_protein)
merged_diet_all['LowFat'] = merged_diet_all['RecipeId'].map(map_fat)
merged_diet_all['LowSugar'] = merged_diet_all['RecipeId'].map(map_sugar)
merged_diet_all['HighFiber'] = merged_diet_all['RecipeId'].map(map_fiber)
merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,1000036C,Vegetarian,50,320576,NaN,False,NaN,119.024930,0.0,Indifferent,...,0.0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,1.0,NaN
1,1000216B,Vegetarian,78,189335,NaN,False,NaN,1199.549763,1.0,Indifferent,...,19.2,4.5,33.9,714.2,38.0,0.8,4.3,16.3,8.0,NaN
2,1000221A,Vegetarian,25,17444,NaN,False,NaN,3899.147999,1.0,Yes,...,10.3,6.0,36.6,119.8,13.7,1.0,1.0,8.7,12.0,NaN
3,1000221A,Vegetarian,25,133043,2.0,False,NaN,362.152341,0.0,Yes,...,13.5,1.9,0.0,0.6,1.9,0.4,0.4,0.2,NaN,4 ounces
4,1000221A,Vegetarian,25,90537,2.0,False,NaN,1198.957497,0.0,Yes,...,49.0,7.2,0.0,115.8,241.7,69.4,15.7,68.9,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,999774A,Vegetarian,57,29002,2.0,False,NaN,2400.009731,1.0,Indifferent,...,33.3,8.5,33.2,318.2,107.7,10.3,13.5,32.0,4.0,NaN
140191,999774A,Vegetarian,57,1171,2.0,True,NaN,480.233207,1.0,Yes,...,19.8,12.2,68.3,247.4,87.5,4.0,57.8,18.2,1.0,2 mugs
140192,999774A,Vegetarian,57,159252,NaN,False,NaN,5998.670408,1.0,Indifferent,...,0.6,0.1,0.0,6.8,240.4,7.0,229.8,1.1,NaN,4 cups
140193,999917E,Vegetarian,28,169413,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
140194,99994A,Vegetarian,18,373964,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts

Impute value from recipe.csv

In [108]:
map_name = recipes.set_index('RecipeId')['RecipeName'].to_dict()
map_cook_time = recipes.set_index('RecipeId')['CookTime'].to_dict()
map_prep_time = recipes.set_index('RecipeId')['PrepTime'].to_dict()
map_category = recipes.set_index('RecipeId')['RecipeCategory'].to_dict()
map_quantities = recipes.set_index('RecipeId')['RecipeIngredientQuantities'].to_dict()
map_parts = recipes.set_index('RecipeId')['RecipeIngredientParts'].to_dict()
map_calories = recipes.set_index('RecipeId')['Calories'].to_dict()
map_fat_content = recipes.set_index('RecipeId')['FatContent'].to_dict()
map_saturated_content = recipes.set_index('RecipeId')['SaturatedFatContent'].to_dict()
map_cholesterol = recipes.set_index('RecipeId')['CholesterolContent'].to_dict()
map_sodium = recipes.set_index('RecipeId')['SodiumContent'].to_dict()
map_carbohydrate = recipes.set_index('RecipeId')['CarbohydrateContent'].to_dict()
map_fiber = recipes.set_index('RecipeId')['FiberContent'].to_dict()
map_sugar = recipes.set_index('RecipeId')['SugarContent'].to_dict()
map_protein = recipes.set_index('RecipeId')['ProteinContent'].to_dict()
map_servings = recipes.set_index('RecipeId')['RecipeServings'].to_dict()
map_yield = recipes.set_index('RecipeId')['RecipeYield'].to_dict()


# Apply mapping to `merged_diet_all`
merged_diet_all['RecipeName'] = merged_diet_all['RecipeId'].map(map_name)
merged_diet_all['CookTime'] = merged_diet_all['RecipeId'].map(map_cook_time)
merged_diet_all['PrepTime'] = merged_diet_all['RecipeId'].map(map_prep_time)
merged_diet_all['RecipeCategory'] = merged_diet_all['RecipeId'].map(map_category)
merged_diet_all['RecipeIngredientQuantities'] = merged_diet_all['RecipeId'].map(map_quantities)
merged_diet_all['RecipeIngredientParts'] = merged_diet_all['RecipeId'].map(map_parts)
merged_diet_all['Calories'] = merged_diet_all['RecipeId'].map(map_calories)
merged_diet_all['FatContent'] = merged_diet_all['RecipeId'].map(map_fat)
merged_diet_all['SaturatedFatContent'] = merged_diet_all['RecipeId'].map(map_saturated_content)
merged_diet_all['CholesterolContent'] = merged_diet_all['RecipeId'].map(map_cholesterol)
merged_diet_all['SodiumContent'] = merged_diet_all['RecipeId'].map(map_sodium)
merged_diet_all['CarbohydrateContent'] = merged_diet_all['RecipeId'].map(map_carbohydrate)
merged_diet_all['FiberContent'] = merged_diet_all['RecipeId'].map(map_fiber)
merged_diet_all['SugarContent'] = merged_diet_all['RecipeId'].map(map_sugar)
merged_diet_all['ProteinContent'] = merged_diet_all['RecipeId'].map(map_protein)
merged_diet_all['RecipeServings'] = merged_diet_all['RecipeId'].map(map_servings)
merged_diet_all['RecipeYield'] = merged_diet_all['RecipeId'].map(map_yield)

**CHECK IF IT WORKS**

In [109]:
merged_diet_all['Rating'] = merged_diet_all['Rating'].fillna(0)
merged_diet_all['TestSetId'] = merged_diet_all['TestSetId']
merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,1000036C,Vegetarian,50,320576,0.0,False,NaN,119.024930,0.0,Indifferent,...,0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,1.0,NaN
1,1000216B,Vegetarian,78,189335,0.0,False,NaN,1199.549763,1.0,Indifferent,...,0,4.5,33.9,714.2,38.0,0.8,4.3,16.3,8.0,NaN
2,1000221A,Vegetarian,25,17444,0.0,False,NaN,3899.147999,1.0,Yes,...,0,6.0,36.6,119.8,13.7,1.0,1.0,8.7,12.0,NaN
3,1000221A,Vegetarian,25,133043,2.0,False,NaN,362.152341,0.0,Yes,...,0,1.9,0.0,0.6,1.9,0.4,0.4,0.2,NaN,4 ounces
4,1000221A,Vegetarian,25,90537,2.0,False,NaN,1198.957497,0.0,Yes,...,0,7.2,0.0,115.8,241.7,69.4,15.7,68.9,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,999774A,Vegetarian,57,29002,2.0,False,NaN,2400.009731,1.0,Indifferent,...,0,8.5,33.2,318.2,107.7,10.3,13.5,32.0,4.0,NaN
140191,999774A,Vegetarian,57,1171,2.0,True,NaN,480.233207,1.0,Yes,...,0,12.2,68.3,247.4,87.5,4.0,57.8,18.2,1.0,2 mugs
140192,999774A,Vegetarian,57,159252,0.0,False,NaN,5998.670408,1.0,Indifferent,...,0,0.1,0.0,6.8,240.4,7.0,229.8,1.1,NaN,4 cups
140193,999917E,Vegetarian,28,169413,2.0,False,NaN,3600.387748,0.0,Indifferent,...,0,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
140194,99994A,Vegetarian,18,373964,0.0,NaN,7555.0,7199.509521,0.0,Yes,...,0,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts

In [87]:
# final_data = merged_diet_all
# final_data['AuthorId'], unique_authorids = pd.factorize(final_data['AuthorId'])
# 
# final_data

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,0,Vegetarian,46,2886.0,0.0,NaN,0.0,4198.933093,1.0,Yes,...,1,2.8,32.6,255.3,40.6,1.0,10.2,7.3,10.0,1 large loaf
1,1,Vegan,18,11194.0,0.0,NaN,0.0,600.014974,0.0,Indifferent,...,0,0.4,2.5,34.0,37.9,2.9,25.4,3.1,4.0,NaN
2,2,Vegetarian,58,45809.0,0.0,NaN,0.0,14399.381563,1.0,Indifferent,...,0,29.5,448.7,1221.0,52.1,1.5,36.9,119.0,8.0,NaN
3,3,Vegetarian,32,150863.0,0.0,NaN,0.0,3600.420005,0.0,Indifferent,...,0,2.2,114.3,65.0,14.2,0.0,11.4,5.2,NaN,1 bowl (varies)
4,4,Vegan,61,64446.0,0.0,NaN,0.0,2099.032638,0.0,Indifferent,...,0,4.5,46.6,754.8,18.2,4.4,7.3,27.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362749,271902,Vegetarian,28,169413.0,2.0,False,0.0,3600.387748,0.0,Indifferent,...,0,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
362750,271903,Omnivore,22,15072.0,0.0,NaN,0.0,2280.037298,0.0,Indifferent,...,0,1.6,115.2,1227.3,5.6,0.3,3.1,15.8,NaN,20-25 shrimp
362751,271904,Vegetarian,58,45809.0,0.0,NaN,0.0,14399.381563,1.0,Indifferent,...,0,29.5,448.7,1221.0,52.1,1.5,36.9,119.0,8.0,NaN
362752,271905,Vegetarian,18,373964.0,0.0,NaN,7555.0,7199.509521,0.0,Yes,...,0,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts
362753,271906,Vegetarian,21,45809.0,0.0,NaN,0.0,14399.381563,1.0,Indifferent,...,0,29.5,448.7,1221.0,52.1,1.5,36.9,119.0,8.0,NaN

In [110]:
diet_mapping = {'Vegan': 1, 'Vegetarian': 2, 'Omnivore': 3}
protien_mapping = {'Yes': 1, 'Indifferent': 0}
sugar_mapping = { 'Indifferent': 1,'0':0}
# RECIPE CATEGORY TRAINNNNNNNNNNNNN

# Apply mapping to the 'Diet' column
merged_diet_all['Diet'] = merged_diet_all['Diet'].map(diet_mapping)
merged_diet_all['HighProtein'] = merged_diet_all['HighProtein'].map(protien_mapping)
merged_diet_all['LowSugar'] = merged_diet_all['LowSugar'].map(sugar_mapping)

merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,1000036C,2,50,320576,0.0,False,NaN,119.024930,0.0,0,...,0,0.0,0.0,0.6,0.0,0.0,0.0,0.0,1.0,NaN
1,1000216B,2,78,189335,0.0,False,NaN,1199.549763,1.0,0,...,0,4.5,33.9,714.2,38.0,0.8,4.3,16.3,8.0,NaN
2,1000221A,2,25,17444,0.0,False,NaN,3899.147999,1.0,1,...,0,6.0,36.6,119.8,13.7,1.0,1.0,8.7,12.0,NaN
3,1000221A,2,25,133043,2.0,False,NaN,362.152341,0.0,1,...,0,1.9,0.0,0.6,1.9,0.4,0.4,0.2,NaN,4 ounces
4,1000221A,2,25,90537,2.0,False,NaN,1198.957497,0.0,1,...,0,7.2,0.0,115.8,241.7,69.4,15.7,68.9,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,999774A,2,57,29002,2.0,False,NaN,2400.009731,1.0,0,...,0,8.5,33.2,318.2,107.7,10.3,13.5,32.0,4.0,NaN
140191,999774A,2,57,1171,2.0,True,NaN,480.233207,1.0,1,...,0,12.2,68.3,247.4,87.5,4.0,57.8,18.2,1.0,2 mugs
140192,999774A,2,57,159252,0.0,False,NaN,5998.670408,1.0,0,...,0,0.1,0.0,6.8,240.4,7.0,229.8,1.1,NaN,4 cups
140193,999917E,2,28,169413,2.0,False,NaN,3600.387748,0.0,0,...,0,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
140194,99994A,2,18,373964,0.0,NaN,7555.0,7199.509521,0.0,1,...,0,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts

In [89]:
# # Function to clean the the strings
# import pandas as pd
# 
# # Updated clean_string function
# def clean_string(string):
#     # Remove 'c(' and ')' and replace escaped backslashes and double quotes
#     cleaned_string = string.replace('c(', '').replace(')', '').replace('\\', '').replace('\"', '')
# 
#     # Split the cleaned string by commas and remove extra spaces
#     parsed_string = [val.strip() for val in cleaned_string.split(',')]
# 
#     # Convert string elements to int
#     parsed_string = [int(val) if val.isdigit() else val for val in parsed_string]
# 
#     return parsed_string
# 
# # Read the CSV file into a DataFrame
# df = pd.read_csv('recipes.csv')
# 
# # Apply the updated clean_string function to the RecipeIngredientQuantities column
# df['RecipeIngredientQuantities'] = df['RecipeIngredientQuantities'].apply(clean_string)
# df['RecipeIngredientParts'] = df['RecipeIngredientParts'].apply(clean_string)
# 
# #Display the DataFrame with updated and cleaned values
# df

In [90]:
# # Function to calculate RecipeServings based on quantities
# def calculate_servings(quantities):
#     try:
#         # Sum up the quantities to get the total amount of ingredients
#         total_quantity = sum(eval(quantities))
# 
#         # Assuming a base serving size, you can adjust this based on your data
#         base_serving_size = 1
# 
#         # Calculate the servings based on the total quantity and the base serving size
#         servings = total_quantity / base_serving_size
#         return servings
#     except (ValueError, SyntaxError) as e:
#         # Handle the case where the calculation fails
#         print(f"Error calculating servings: {e}")
#         return None
# 
# # Apply the function to calculate RecipeServings
# df['RecipeServings'] = df['RecipeIngredientQuantities'].apply(calculate_servings)
# df

Export data frame to csv file to train the model

In [111]:
columns_to_drop = ['RecipeIngredientQuantities', 'RecipeIngredientParts', 'RecipeServings', 'RecipeYield', 'RecipeName', 'RecipeCategory']
merged_diet_all = merged_diet_all.drop(columns_to_drop, axis=1)

# final_data.to_csv('final_data.csv', index=False)
merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,PrepTime,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent
0,1000036C,2,50,320576,0.0,False,NaN,119.024930,0.0,0,...,120,138.7,0,0.0,0.0,0.6,0.0,0.0,0.0,0.0
1,1000216B,2,78,189335,0.0,False,NaN,1199.549763,1.0,0,...,600,395.7,0,4.5,33.9,714.2,38.0,0.8,4.3,16.3
2,1000221A,2,25,17444,0.0,False,NaN,3899.147999,1.0,1,...,2100,181.7,0,6.0,36.6,119.8,13.7,1.0,1.0,8.7
3,1000221A,2,25,133043,2.0,False,NaN,362.152341,0.0,1,...,300,125.6,0,1.9,0.0,0.6,1.9,0.4,0.4,0.2
4,1000221A,2,25,90537,2.0,False,NaN,1198.957497,0.0,1,...,1200,1590.1,0,7.2,0.0,115.8,241.7,69.4,15.7,68.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,999774A,2,57,29002,2.0,False,NaN,2400.009731,1.0,0,...,1200,838.5,0,8.5,33.2,318.2,107.7,10.3,13.5,32.0
140191,999774A,2,57,1171,2.0,True,NaN,480.233207,1.0,1,...,120,665.9,0,12.2,68.3,247.4,87.5,4.0,57.8,18.2
140192,999774A,2,57,159252,0.0,False,NaN,5998.670408,1.0,0,...,1200,928.0,0,0.1,0.0,6.8,240.4,7.0,229.8,1.1
140193,999917E,2,28,169413,2.0,False,NaN,3600.387748,0.0,0,...,900,194.8,0,4.7,66.5,521.9,24.8,1.7,3.4,5.6
140194,99994A,2,18,373964,0.0,NaN,7555.0,7199.509521,0.0,1,...,0,141.3,0,0.0,0.0,5.6,36.2,0.2,33.6,0.2

In [ ]:
# df = final_data.loc[final_data['CookTime'] <= 7200]
# df
# final_data.drop(final_data[final_data['CookTime'] > 7200].index, inplace=True)
# final_data

Random Forest Classifier

In [93]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 312123 entries, 0 to 362752
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Diet                 312123 non-null  category
 1   Age                  312123 non-null  int64
 2   Like                 90758 non-null   object
 3   TestSetId            312123 non-null  float64
 4   HighCalories         312123 non-null  float64
 5   HighProtein          312123 non-null  int64
 6   LowFat               312123 non-null  int64
 7   LowSugar             312123 non-null  int64
 8   HighFiber            312123 non-null  int64
 9   CookTime             312123 non-null  int64
 10  Calories             312123 non-null  float64
 11  FatContent           312123 non-null  int64
 12  SaturatedFatContent  312123 non-null  float64
 13  CholesterolContent   312123 non-null  float64
 14  SodiumContent        312123 non-null  float64
 15  CarbohydrateContent  312123 non-null  float64
 16  FiberContent         312123 non-null  float64
 17  SugarContent         312123 non-null  float64
 18  ProteinContent       312123 non-null  float64
dtypes: category(1), float64(10), int64(7), object(1)
memory usage: 45.5+ MB

In [115]:
df = merged_diet_all.copy()



# Drop rows with NaN values in the target column ('Like') for training set
train_data = df[df['TestSetId'].isna()]
train_data = train_data.drop('TestSetId', axis=1)
train_data

,AuthorId,Diet,Age,RecipeId,Rating,Like,Time,HighCalories,HighProtein,LowFat,...,PrepTime,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent
0,1000036C,2,50,320576,0.0,False,119.024930,0.0,0,0,...,120,138.7,0,0.0,0.0,0.6,0.0,0.0,0.0,0.0
1,1000216B,2,78,189335,0.0,False,1199.549763,1.0,0,0,...,600,395.7,0,4.5,33.9,714.2,38.0,0.8,4.3,16.3
2,1000221A,2,25,17444,0.0,False,3899.147999,1.0,1,0,...,2100,181.7,0,6.0,36.6,119.8,13.7,1.0,1.0,8.7
3,1000221A,2,25,133043,2.0,False,362.152341,0.0,1,0,...,300,125.6,0,1.9,0.0,0.6,1.9,0.4,0.4,0.2
4,1000221A,2,25,90537,2.0,False,1198.957497,0.0,1,0,...,1200,1590.1,0,7.2,0.0,115.8,241.7,69.4,15.7,68.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140189,999595E,2,31,338070,2.0,False,3899.421310,0.0,0,1,...,900,464.3,1,15.0,99.8,391.7,43.1,1.4,27.3,5.2
140190,999774A,2,57,29002,2.0,False,2400.009731,1.0,0,0,...,1200,838.5,0,8.5,33.2,318.2,107.7,10.3,13.5,32.0
140191,999774A,2,57,1171,2.0,True,480.233207,1.0,1,0,...,120,665.9,0,12.2,68.3,247.4,87.5,4.0,57.8,18.2
140192,999774A,2,57,159252,0.0,False,5998.670408,1.0,0,0,...,1200,928.0,0,0.1,0.0,6.8,240.4,7.0,229.8,1.1
140193,999917E,2,28,169413,2.0,False,3600.387748,0.0,0,0,...,900,194.8,0,4.7,66.5,521.9,24.8,1.7,3.4,5.6

In [95]:
# from sklearn.model_selection import train_test_split
# 
# # Assuming 'final_data' has features and the target variable 'Like'
# 
# # Drop rows with NaN values in the target column ('Like') for training set
# train_data = final_data.dropna(subset=['Like'])
# 
# # Assuming 'X' contains features and 'y' is the target variable
# X = train_data.drop(columns=['Like'])
# y = train_data['Like']
# 
# # Split data into training and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=3)

In [116]:
### data wrangling

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler


transform_scaler = StandardScaler()

# dimensionality reduction
transform_pca = PCA()

# value imputing

# outlier detection/removal

In [117]:
# # split data into learning and test sets
# from sklearn.model_selection import train_test_split
# 
# X_train, X_test, y_train, y_test = \
#     train_test_split(final_data.iloc[:, :-1], train_data.iloc[:, -1:],
#                      test_size=0.3,
#                      shuffle=True,
#                      random_state=3)
from sklearn.model_selection import train_test_split

# Assuming 'final_data' has features and the target variable 'Like'

# Drop rows with NaN values in the target column ('Like') for training set
train_data = final_data.dropna(subset=['Like'])

# Assuming 'X' contains features and 'y' is the target variable
X = train_data.drop(columns=['Like'])
y = train_data['Like'].astype(bool)


# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=3)
y_train.info()

<class 'pandas.core.series.Series'>
Index: 63530 entries, 116252 to 287567
Series name: Like
Non-Null Count  Dtype
--------------  -----
63530 non-null  bool
dtypes: bool(1)
memory usage: 558.4 KB

In [ ]:
# Here, you want to find the best classifier. As candidates, consider
#   1. LogisticRegression
#   2. RandomForestClassifier
#   3. other algorithms from sklearn (easy to add)
#   4. custom algorithms (more difficult to implement)

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

model_logistic_regression = LogisticRegression(max_iter=30)
model_random_forest = RandomForestClassifier()
model_gradient_boosting = GradientBoostingClassifier()

# train the models
pipeline = Pipeline(steps=[("scaler", transform_scaler),
                           ("pca", transform_pca),
                           ("model", None)])

parameter_grid_preprocessing = {
    "pca__n_components" : [1, 2, 3, 4],
}

parameter_grid_logistic_regression = {
    "model" : [model_logistic_regression],
    "model__C" : [0.1, 1, 10],  # inverse regularization strength
}

parameter_grid_gradient_boosting = {
    "model" : [model_gradient_boosting],
    "model__n_estimators" : [10, 20, 30]
}

parameter_grid_random_forest = {
    "model" : [model_random_forest],
    "model__n_estimators" : [10, 20, 50],  # number of max trees in the forest
    "model__max_depth" : [2, 3, 4],
}

meta_parameter_grid = [parameter_grid_logistic_regression,
                       parameter_grid_random_forest,
                       parameter_grid_gradient_boosting]

meta_parameter_grid = [{**parameter_grid_preprocessing, **model_grid}
                       for model_grid in meta_parameter_grid]

search = GridSearchCV(pipeline,
                      meta_parameter_grid,
                      scoring="balanced_accuracy",
                      n_jobs=2,
                      cv=5,  # number of folds for cross-validation 
                      error_score="raise"
                      )

# here, the actual training and grid search happens
search.fit(X_train, y_train.values.ravel())

print("best parameter:", search.best_params_ ,"(CV score=%0.3f)" % search.best_score_)

In [99]:
# evaluate performance of model on test set
print("Score on test set:", search.score(X_test, y_test.values.ravel()))

# contingency table
ct = pd.crosstab(search.best_estimator_.predict(X_test), y_test.values.ravel(),
                 rownames=["pred"], colnames=["true"])
print(ct)

NameError: name 'search' is not defined

In [ ]:
# (optional, if you're curious) 
# for a detailed look on the performance of the different models
def get_search_score_overview():
    for c,s in zip(search.cv_results_["params"],search.cv_results_["mean_test_score"]):
        print(c, s)

print(get_search_score_overview())

In [ ]:
# assume random forest model
model = RandomForestClassifier(n_estimators=10, random_state=seed)
model.fit(X_train, y_train.values.ravel())

# compute shapley values
explainer = shap.TreeExplainer(model)
shap_values = explainer.shap_values(X_train)
shap_interaction_values = explainer.shap_interaction_values(X_train)

expected_value = explainer.expected_value
print(expected_value)

In [ ]:
# class dependent plots of shapley values for each feature
for i,c in enumerate(final_data.variety.unique()):
    shap.summary_plot(shap_values[i], X_train, show=False)
    plt.title("Shapley values for "+str(c))
    plt.show()

In [ ]:
def micro_service_classify_iris(datapoint):

    # make sure the provided datapoints adhere to the correct format for model input

    # fetch your trained model
    model = search.best_estimator_

    # make prediction with the model
    prediction = model.predict(datapoint)

    return prediction

In [ ]:
# # hypothetical new batch of flowers arrives
# from scipy.stats import norm
# 
# amount_of_new_flowers = 9
# df_flowers = pd.DataFrame(columns=df.columns.drop("variety"), index=range(1, amount_of_new_flowers+1))
# 
# for i in df_flowers.index:
#     df_flowers.loc[i, "sepal.length"] = norm(loc=6, scale=2).rvs()
#     df_flowers.loc[i, "sepal.width"] = norm(loc=3, scale=1).rvs()
#     df_flowers.loc[i, "petal.length"] = norm(loc=3, scale=5).rvs()
#     df_flowers.loc[i, "petal.width"] = norm(loc=2, scale=2).rvs()
# 
# # customer uses your micro service to determine the varieties
# df_flowers["variety"] = micro_service_classify_iris(df_flowers)
# print(df_flowers)

In [ ]:
# # Let's assume that our id column is the index of the dataframe
# output = pd.DataFrame(df_flowers.variety)
# output['id'] = df_flowers.index
# output = output.rename(columns={'variety': 'prediction'})
# output = output.reindex(columns=["id", "prediction"])
# output.to_csv('iris_prediction.csv', index=False)

OUR CODE

In [ ]:
# # Step 1: Import necessary libraries
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score, classification_report

In [ ]:
# import pandas as pd
# 
# # Load your data
# df = pd.read_csv('final_data.csv')
# 
# # Define features (X) and target variable (y)
# features = ['Diet', 'Age', 'Rating', 'Time', 'HighCalories', 'HighProtein', 'LowFat', 'LowSugar',
#             'HighFiber', 'CookTime', 'PrepTime', 'RecipeCategory','AuthorId','RecipeId','Calories','RecipeName','RecipeCategory','FatContent','SaturatedFatContent','CholesterolContent','SodiumContent','CarbohydrateContent','FiberContent','SugarContent','ProteinContent']
# target = 'Like'
# 
# # Drop rows with NaN values in the target column ('Like') for training set
# train_data = df.dropna(subset=[target]).copy()  # Create a copy to avoid the warning
# 
# # Convert True/False to 1/0 in the 'Like' column only for the training set
# # train_data.loc[:, 'Like'] = train_data['Like'].astype(int)
# # 
# # Split the data into features (X) and target variable (y) for training set
# # X_train = train_data[features]
# # y_train = train_data[target]
# # 
# # Handle categorical variables using one-hot encoding
# # X_train = pd.get_dummies(X_train)

In [ ]:
# train_data

In [ ]:
# # Convert 'Like' column to boolean (if not already)
# train_data['Like'] = train_data['Like'].astype(bool)
# 
# # Split the data into features (X) and target variable (y) for training set
# X_train = train_data[features]
# y_train = train_data['Like']  # Use 'Like' column directly as the target variable
# 
# # Handle categorical variables using one-hot encoding
# X_train = pd.get_dummies(X_train)
# 
# # Initialize the Random Forest model
# model = RandomForestClassifier(n_estimators=100, random_state=42)
# 
# # Fit the model
# model.fit(X_train, y_train)
# 
# # Drop rows with non-null values in the target column ('Like') for testing set
# test_data = df[df[target].isnull()]
# 
# # Split the data into features (X) for testing set
# X_test = test_data[features]
# 
# # Handle categorical variables using one-hot encoding
# X_test = pd.get_dummies(X_test)
# 
# # Predict the 'Like' column for the testing set
# predictions = model.predict(X_test)

In [ ]:
# print(X_test)

In [ ]:
# from sklearn.metrics import balanced_accuracy_score
# 
# # Assuming you have already trained the model and made predictions
# 
# # Evaluate the model on the training set
# y_train_pred = model.predict(X_train)
# 
# # Compute balanced accuracy for the training set
# balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_pred)
# 
# print(f"Balanced Accuracy on Training Set: {balanced_accuracy_train:.4f}")

In [ ]:
# X_test.info()

In [ ]:
# from sklearn.metrics import balanced_accuracy_score
# 
# # Assuming you have already trained the model and made predictions
# 
# # Predict the 'Like' column for the testing set
# predictions = model.predict(X_test)
# 
# # Filter out rows where the true labels are known (not NaN)
# known_labels_mask = ~df[target].isnull()
# 
# # Filter out the true labels for known labels
# true_labels = df.loc[known_labels_mask, target]
# print(true_labels)
# # Convert true_labels to boolean (if not already)
# true_labels = true_labels.astype(bool)
# 
# # Filter out NaN values from the predictions
# predictions = predictions[:len(true_labels)]  # Ensure predictions and true_labels have the same length
# print(predictions)
# # Compute balanced accuracy for the testing set
# balanced_accuracy_test = balanced_accuracy_score(true_labels, predictions)
# 
# print(f"Balanced Accuracy on Testing Set: {balanced_accuracy_test:.4f}")

In [ ]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from xgboost import XGBClassifier
# from sklearn.metrics import balanced_accuracy_score
# 
# # Load your data
# df = pd.read_csv('final_data.csv')
# 
# # Define features (X) and target variable (y)
# features = ['Diet', 'Age', 'Rating', 'Time', 'HighCalories', 'HighProtein', 'LowFat', 'LowSugar',
#             'HighFiber', 'CookTime', 'PrepTime', 'RecipeCategory']
# target = 'Like'
# 
# # Drop rows with NaN values in the target column ('Like') for training set
# train_data = df.dropna(subset=[target]).copy()  # Create a copy to avoid the warning
# 
# # Use bootstrapping to split the training data
# # Assuming 'Like' column is boolean (True/False)
# train_data['Like'] = train_data['Like'].astype(bool)
# 
# # Split the data into features (X) and target variable (y) for training set
# X_train = pd.get_dummies(train_data[features])
# y_train = train_data['Like']
# 
# # Use bootstrapping to create a balanced sample
# # This is just an example, you may want to adjust the sample size based on your needs
# positive_samples = train_data[train_data['Like'] == True]
# negative_samples = train_data[train_data['Like'] == False]
# num_samples = min(len(positive_samples), len(negative_samples))
# balanced_sample = pd.concat([positive_samples.sample(num_samples), negative_samples.sample(num_samples)])
# 
# # Split the balanced sample into features (X) and target variable (y) for training set
# X_balanced = pd.get_dummies(balanced_sample[features])
# y_balanced = balanced_sample['Like']
# 
# # Initialize the XGBoost model
# model = XGBClassifier()
# 
# # Fit the model on the balanced sample
# model.fit(X_balanced, y_balanced)
# 
# # Predictions on the original training set
# y_train_pred = model.predict(X_train)
# 
# # Compute balanced accuracy for the training set
# balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_pred)
# 
# print(f"Balanced Accuracy on Training Set: {balanced_accuracy_train:.4f}")

In [ ]:
# # Assuming you have already trained the model and made predictions on the test set
# # (Make sure that the 'Like' column in the test set is still NaN)
# 
# # Predict the 'Like' column for the testing set
# X_test = pd.get_dummies(df[df[target].isnull()][features])
# # Predict the 'Like' column for the testing set
# predictions = model.predict(X_test)
# 
# # Filter out rows where the true labels are known (not NaN)
# known_labels_mask = ~df[target].isnull()
# 
# # Filter out the true labels for known labels
# true_labels = df.loc[known_labels_mask, target]
# print(true_labels)
# # Convert true_labels to boolean (if not already)
# true_labels = true_labels.astype(bool)
# 
# # Filter out NaN values from the predictions
# predictions = predictions[:len(true_labels)]  # Ensure predictions and true_labels have the same length
# print(predictions)
# # Compute balanced accuracy for the testing set
# balanced_accuracy_test = balanced_accuracy_score(true_labels, predictions)
# 
# print(f"Balanced Accuracy on Testing Set: {balanced_accuracy_test:.4f}")

In [ ]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import balanced_accuracy_score
# 
# # Load your data
# df = pd.read_csv('final_data.csv')
# 
# # Define features (X) and target variable (y)
# features = ['Diet', 'Age', 'Rating', 'Time', 'HighCalories', 'HighProtein', 'LowFat', 'LowSugar',
#             'HighFiber', 'CookTime', 'PrepTime', 'RecipeCategory']
# target = 'Like'
# 
# # Drop rows with NaN values in the target column ('Like') for training set
# train_data = df.dropna(subset=[target]).copy()  # Create a copy to avoid the warning
# # Convert 'Like' column to boolean (if not already)
# train_data['Like'] = train_data['Like'].astype(bool)
# 
# # Split the data into features (X) and target variable (y) for training set
# X_train = pd.get_dummies(train_data[features])
# y_train = train_data['Like']
# 
# # Use bootstrapping to create a balanced sample
# # This is just an example, you may want to adjust the sample size based on your needs
# positive_samples = train_data[train_data['Like'] == True]
# negative_samples = train_data[train_data['Like'] == False]
# num_samples = min(len(positive_samples), len(negative_samples))
# balanced_sample = pd.concat([positive_samples.sample(num_samples), negative_samples.sample(num_samples)])
# 
# # Split the balanced sample into features (X) and target variable (y) for training set
# X_balanced = pd.get_dummies(balanced_sample[features])
# y_balanced = balanced_sample['Like']
# 
# # Initialize the Logistic Regression model
# model = LogisticRegression()
# 
# # Fit the model on the balanced sample
# model.fit(X_balanced, y_balanced)
# 
# # Predictions on the original training set
# y_train_pred = model.predict(X_train)
# 
# # Compute balanced accuracy for the training set
# balanced_accuracy_train = balanced_accuracy_score(y_train, y_train_pred)
# print(f"Balanced Accuracy on Training Set: {balanced_accuracy_train:.4f}")