In [193]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Note: The following do not work with Python 3.12
import shap
# from ydata_profiling import ProfileReport
import sweetviz as sv

Reproducibility:

In [194]:
seed = 2024

# pandas, statsmodels, matplotlib and y_data_profiling rely on numpy's random generator, and thus, we need to set the seed in numpy
np.random.seed(seed)

In [195]:
diet = pd.read_csv('diet.csv', low_memory=False)
diet['Diet'] = diet['Diet'].astype('category')
diet

         AuthorId        Diet  Age
0       10000120E  Vegetarian   46
1        1000014D       Vegan   18
2        1000015A  Vegetarian   58
3        1000016E  Vegetarian   32
4        1000027E       Vegan   61
...           ...         ...  ...
271902    999917E  Vegetarian   28
271903    999936C    Omnivore   22
271904     99993D  Vegetarian   58
271905     99994A  Vegetarian   18
271906    999991A  Vegetarian   21

[271907 rows x 3 columns]

In [196]:
user_count= diet['AuthorId']
print(f'The number of author ids is: {user_count.size}')
print(f'The number of unique author ids is: {user_count.unique().size}')

The number of author ids is: 271907
The number of unique author ids is: 271907

In [197]:
requests = pd.read_csv('requests.csv', low_memory=False)
requests['HighProtein'] = requests['HighProtein'].astype('category')
requests['LowSugar'] = requests['LowSugar'].astype('category')
requests

,AuthorId,RecipeId,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,2001012259B,73440,1799.950949,0.0,Indifferent,0,0,0
1,437641B,365718,4201.820980,0.0,Yes,0,Indifferent,1
2,1803340263D,141757,6299.861496,0.0,Indifferent,1,Indifferent,0
3,854048B,280351,19801.365796,0.0,Yes,1,0,1
4,2277685E,180505,5400.093457,0.0,Indifferent,0,0,0
...,...,...,...,...,...,...,...,...
140190,163793B,78171,1560.649725,0.0,Indifferent,0,0,1
140191,33888B,333262,1502.011466,1.0,Indifferent,1,0,0
140192,401942C,49200,5999.274269,0.0,Indifferent,0,0,1
140193,346866B,214815,899.523513,0.0,Yes,1,Indifferent,1
140194,1786859E,117923,7199.637837,1.0,Indifferent,0,0,1

In [198]:
user_count= requests['AuthorId']
print("Author Id ")
print(f'The number of author ids is: {user_count.size}')
print(f'The number of unique author ids is: {user_count.unique().size}')
print(f'Author Diff: {user_count.size-user_count.unique().size}')
recipe_count= requests['RecipeId']
print("Recipe Id ")
print(f'The number of recipe ids is: {recipe_count.size}')
print(f'The number of unique recipe ids is: {recipe_count.unique().size}')
print(f'Recipe Diff: {recipe_count.size-recipe_count.unique().size}')

Author Id
The number of author ids is: 140195
The number of unique author ids is: 49348
Author Diff: 90847
Recipe Id
The number of recipe ids is: 140195
The number of unique recipe ids is: 75604
Recipe Diff: 64591

In [199]:
reviews = pd.read_csv('reviews.csv', low_memory=False)
reviews

           AuthorId  RecipeId  Rating   Like  TestSetId
0          2492191A     33671     2.0    NaN        1.0
1       2002019979A     92647     2.0    NaN        2.0
2           408594E    161770     NaN    NaN        3.0
3       2001625557E    108231     2.0    NaN        4.0
4       2001427116E     71109     NaN    NaN        5.0
...             ...       ...     ...    ...        ...
140190      999595E    338070     2.0  False        NaN
140191      999774A     29002     2.0  False        NaN
140192      999774A    159252     NaN  False        NaN
140193      999774A      1171     2.0   True        NaN
140194      999917E    169413     2.0  False        NaN

[140195 rows x 5 columns]

In [200]:
user1_count= reviews['AuthorId']
print("Author Id ")
print(f'The number of author ids is: {user1_count.size}')
print(f'The number of unique author ids is: {user1_count.unique().size}')
print(f'Author Diff: {user_count.size-user_count.unique().size}')
recipe1_count= reviews['RecipeId']
print("Recipe Id ")
print(f'The number of recipe ids is: {recipe1_count.size}')
print(f'The number of unique recipe ids is: {recipe1_count.unique().size}')
print(f'Recipe Diff: {recipe_count.size-recipe_count.unique().size}')

Author Id
The number of author ids is: 140195
The number of unique author ids is: 49348
Author Diff: 90847
Recipe Id
The number of recipe ids is: 140195
The number of unique recipe ids is: 75604
Recipe Diff: 64591

In [201]:
recipes = pd.read_csv('recipes.csv', low_memory=False)
recipes

,RecipeId,Name,CookTime,PrepTime,RecipeCategory,RecipeIngredientQuantities,RecipeIngredientParts,Calories,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,73440,Bow Ties With Broccoli Pesto,0,1800,Other,"c(""\""6\"""", ""\""2\"""", ""\""1 1/2\"""", ""\""1/4\"""", ""\...","c(""\""hazelnuts\"""", ""\""broccoli florets\"""", ""\""...",241.3,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
1,365718,Cashew-chutney Rice,3600,600,Other,"c(""\""1\"""", ""\""3/4\"""", ""\""6\"""", ""\""5\"""", ""\""2\""...","c(""\""celery\"""", ""\""onion\"""", ""\""butter\"""", ""\""...",370.8,17.5,7.2,22.9,553.3,44.3,1.6,2.2,9.4,8.0,NaN
2,141757,Copycat Taco Bell Nacho Fries BellGrande,3600,2700,Other,"c(""\""3\"""", ""\""1/2\"""", ""\""1\"""", ""\""1\"""", ""\""3\""...","c(""\""Copycat Taco Bell Seasoned Beef\"""", ""\""ye...",377.6,20.9,10.5,45.7,1501.8,36.6,3.8,6.1,12.9,8.0,NaN
3,280351,Slow Cooker Jalapeno Cheddar Cheese Soup,18000,1800,Other,"c(""\""2\"""", ""\""1\"""", ""\""2\"""", ""\""2\"""", ""\""1\"""",...","c(""\""unsalted butter\"""", ""\""yellow onion\"""", ""...",282.8,16.5,10.3,50.5,630.2,22.8,2.3,2.7,11.7,6.0,NaN
4,180505,Cool & Crisp Citrus Chiffon Pie,3600,1800,Other,"c(""\""1\"""", ""\""1/4\"""", ""\""1/2\"""", ""\""1/2\"""", ""\...","c(""\""unflavored gelatin\"""", ""\""water\"""", ""\""su...",257.5,8.6,2.4,110.7,160.9,39.8,0.4,30.2,6.3,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75599,253577,Frijoles Negros- Crock Pot Mexican Black Beans,43200,28800,Other,"c(""\""2\"""", ""\""6 -8\"""", ""\""5\"""", ""\""1/2\"""", ""\""...","c(""\""black beans\"""", ""\""water\"""", ""\""bay leave...",121.5,0.5,0.1,0.0,1175.1,22.2,7.8,0.6,7.9,NaN,NaN
75600,267827,Moose Moussaka,3600,2700,Other,"c(""\""1\"""", ""\""6\"""", ""\""2\"""", ""\""2\"""", ""\""1/2\""...","c(""\""onion\"""", ""\""garlic cloves\"""", ""\""olive o...",652.2,25.8,10.7,197.9,435.5,51.9,7.5,7.2,50.1,NaN,NaN
75601,266983,Cantonese Pepper Steak for Two (Or More),1800,900,Other,"c(""\""1/2\"""", ""\""1\"""", ""\""1/8\"""", ""\""1/8\"""", ""\...","c(""\""top round steak\"""", ""\""cornstarch\"""", ""\""...",223.9,9.2,3.6,78.3,725.9,7.3,1.1,1.7,26.7,2.0,NaN
75602,253739,Coconut Cream Cooler,300,120,Other,"c(""\""1\"""", ""\""1\"""", ""\""1\"""", ""\""7 1/2\"""", ""\""1...","c(""\""cream of coconut\"""", ""\""water\"""")",2229.8,80.3,69.3,0.0,294.7,369.0,15.7,317.9,26.7,NaN,1 gallon
75603,78171,Cheater Risotto,960,600,Other,"c(""\""1\"""", ""\""3/4\"""", ""\""4\"""", ""\""1\"""", ""\""1\""...","c(""\""arborio rice\"""", ""\""white wine\"""", ""\""gar...",654.1,13.8,6.9,34.6,1114.0,92.2,3.9,4.2,21.8,NaN,2 1/2 cups

In [202]:
recipe1_count= recipes['RecipeId']
print("Recipe Id ")
print(f'The number of recipe ids is: {recipe1_count.size}')
print(f'The number of unique recipe ids is: {recipe1_count.unique().size}')

Recipe Id
The number of recipe ids is: 75604
The number of unique recipe ids is: 75604

In [203]:
merged_request_review = pd.merge(reviews,requests,on=['AuthorId','RecipeId'])
merged_request_review

,AuthorId,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,LowFat,LowSugar,HighFiber
0,2492191A,33671,2.0,NaN,1.0,2698.714376,0.0,Indifferent,1,0,1
1,2002019979A,92647,2.0,NaN,2.0,2399.694583,1.0,Indifferent,0,Indifferent,1
2,408594E,161770,NaN,NaN,3.0,2099.113170,1.0,Indifferent,0,0,1
3,2001625557E,108231,2.0,NaN,4.0,1199.645575,1.0,Yes,0,0,1
4,2001427116E,71109,NaN,NaN,5.0,2341.181827,1.0,Indifferent,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
140190,999595E,338070,2.0,False,NaN,3899.421310,0.0,Indifferent,1,Indifferent,0
140191,999774A,29002,2.0,False,NaN,2402.372535,0.0,Indifferent,0,Indifferent,0
140192,999774A,159252,NaN,False,NaN,5999.598903,0.0,Yes,0,0,0
140193,999774A,1171,2.0,True,NaN,480.233207,1.0,Yes,0,0,0
140194,999917E,169413,2.0,False,NaN,3600.387748,0.0,Indifferent,0,Indifferent,0

In [204]:
user1_count= merged_request_review['AuthorId']
print("Author Id ")
print(f'The number of author ids is: {user1_count.size}')
print(f'The number of unique author ids is: {user1_count.unique().size}')
print(f'Author Diff: {user_count.size-user_count.unique().size}')
recipe1_count= merged_request_review['RecipeId']
print("Recipe Id ")
print(f'The number of recipe ids is: {recipe1_count.size}')
print(f'The number of unique recipe ids is: {recipe1_count.unique().size}')
print(f'Recipe Diff: {recipe_count.size-recipe_count.unique().size}')

Author Id
The number of author ids is: 140195
The number of unique author ids is: 49348
Author Diff: 90847
Recipe Id
The number of recipe ids is: 140195
The number of unique recipe ids is: 75604
Recipe Diff: 64591

**CHECK** If a following recipe id exists and how many times and if the Recipe Id is mapped to the unique AuthorId

In [205]:
recipe_id_to_check = merged_request_review['RecipeId'].value_counts().idxmax()

# Display the result
recipe_exists = merged_request_review['RecipeId'].isin([recipe_id_to_check])

# Display the result
if recipe_exists.any():
    # print(f"Recipe with RecipeId {recipe_id_to_check} exists.")
    recipe_count = merged_request_review['RecipeId'].value_counts().get(recipe_id_to_check, 0)
    print(f"Recipe with RecipeId {recipe_id_to_check} repeats {recipe_count} times.")
    # Get the table of corresponding AuthorId values for the given RecipeId
    author_id_table = merged_request_review.loc[merged_request_review['RecipeId'] == recipe_id_to_check, ['AuthorId','RecipeId']]
    print("Table of AuthorId values for RecipeId", recipe_id_to_check)
    print()
    
else:
    print(f"Recipe with RecipeId {recipe_id_to_check} does not exist.")

author_id_table

Recipe with RecipeId 45809 repeats 258 times.
Table of AuthorId values for RecipeId 45809

           AuthorId  RecipeId
63      2002602259D     45809
1675        864207D     45809
2153    2001559569B     45809
3501    1802473053B     45809
3704        337907B     45809
...             ...       ...
137190      903531E     45809
138317      931429E     45809
138676      939545E     45809
139653      978808D     45809
140050      988578C     45809

[258 rows x 2 columns]

In [206]:
unique_recipe_ids_from_merge = merged_request_review['RecipeId'].unique()
unique_recipe_ids_from_recipes = recipes['RecipeId'].unique()
are_ids_equal = set(unique_recipe_ids_from_file) == set(unique_recipe_ids_from_merge)

if are_ids_equal:
    print("The unique RecipeId values are the same in both DataFrames.")
else:
    print("The unique RecipeId values are not the same in both DataFrames.")

# # Assuming merged_request_review is the result of merging reviews and requests DataFrames
# # using pd.merge(reviews, requests, on=['AuthorId', 'RecipeId'])
# 
# # Get the unique RecipeId values
# unique_recipe_ids = merged_request_review['RecipeId'].unique()
# 
# # Initialize a list to store the uniqueness result for each RecipeId
# uniqueness_results = []
# 
# # Iterate over unique RecipeId values
# for recipe_id in unique_recipe_ids:
#     # Get the table of corresponding AuthorId values for the given RecipeId
#     author_id_table = merged_request_review.loc[merged_request_review['RecipeId'] == recipe_id, ['AuthorId', 'RecipeId']]
# 
#     # Check if the mapped AuthorId values are unique
#     is_author_id_unique = ~author_id_table['AuthorId'].duplicated().any()
# 
#     uniqueness_results.append((recipe_id, is_author_id_unique))
# 
# # Create a DataFrame from the results
# uniqueness_df = pd.DataFrame(uniqueness_results, columns=['RecipeId', 'IsAuthorIdUnique'])
# 
# # Display the DataFrame
# print(uniqueness_df)
# # 
# # Visualization: Bar plot of unique AuthorId counts for each RecipeId
# uniqueness_df.set_index('RecipeId')['IsAuthorIdUnique'].astype(int).plot(kind='bar', xlabel='RecipeId', ylabel='IsAuthorIdUnique (1: True, 0: False)', title='Uniqueness of AuthorId for Each RecipeId')
# plt.show()

The unique RecipeId values are the same in both DataFrames.

In [207]:
merged_recipes_req_review= pd.merge(merged_request_review,recipes,on=['RecipeId'],how='right')
merged_recipes_req_review

,AuthorId,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,LowFat,LowSugar,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,914496A,73440,NaN,NaN,1548.0,1800.709345,0.0,Indifferent,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
1,2668181C,73440,2.0,NaN,2069.0,1797.825626,0.0,Yes,0,Indifferent,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
2,2000237272A,73440,2.0,NaN,2152.0,1800.440504,1.0,Indifferent,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
3,2001895110E,73440,NaN,NaN,3293.0,1799.437007,0.0,Indifferent,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
4,1800347124D,73440,NaN,NaN,4621.0,1801.007172,1.0,Yes,0,0,...,10.1,1.2,0.0,13.1,31.8,2.3,1.4,6.7,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140190,1677720D,253577,2.0,True,NaN,71998.977353,0.0,Indifferent,1,Indifferent,...,0.5,0.1,0.0,1175.1,22.2,7.8,0.6,7.9,NaN,NaN
140191,853126B,267827,NaN,NaN,7148.0,6299.278484,0.0,Yes,1,0,...,25.8,10.7,197.9,435.5,51.9,7.5,7.2,50.1,NaN,NaN
140192,2000154789A,266983,2.0,True,NaN,2700.812133,0.0,Yes,0,0,...,9.2,3.6,78.3,725.9,7.3,1.1,1.7,26.7,2.0,NaN
140193,499207A,253739,2.0,True,NaN,419.558713,1.0,Indifferent,0,Indifferent,...,80.3,69.3,0.0,294.7,369.0,15.7,317.9,26.7,NaN,1 gallon
140194,163793B,78171,NaN,True,NaN,1560.649725,0.0,Indifferent,0,0,...,13.8,6.9,34.6,1114.0,92.2,3.9,4.2,21.8,NaN,2 1/2 cups

Changing the object data types

Data Joining using common attributes

In [208]:
author_ID = 'AuthorId'
merged_diet_all = pd.merge(diet, merged_recipes_req_review, on=author_ID, how='left')
# merged_request_recipes = pd.merge(requests, recipes, on='RecipeId', how='left')
merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,10000120E,Vegetarian,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000014D,Vegan,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000015A,Vegetarian,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000016E,Vegetarian,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000027E,Vegan,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362749,999917E,Vegetarian,28,169413.0,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
362750,999936C,Omnivore,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362751,99993D,Vegetarian,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362752,99994A,Vegetarian,18,373964.0,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts
362753,999991A,Vegetarian,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Plot graphs of the data frames

Impute the missing values

In [209]:
# 1 value missing in diet column. Filled with most occuring value.
merged_diet_all['Diet'] = merged_diet_all['Diet'].fillna('Vegetarian')

In [210]:
#impute the values for all dietary preferences for all ages with the most frequent RecipeId for that age in that category
helper_df = merged_diet_all.groupby(['Age', 'Diet'])['RecipeId'].agg(lambda x: x.mode()[0]).reset_index()
helper_df.columns = ['Age', 'Diet', 'Most Common Recipe']
def impute_recipe(row):
    if pd.isnull(row['RecipeId']):
        return helper_df[(helper_df['Age'] == row['Age']) & (helper_df['Diet'] == row['Diet'])]['Most Common Recipe'].values[0]
    else:
        return row['RecipeId']
merged_diet_all['RecipeId'] = merged_diet_all.apply(impute_recipe, axis=1)
merged_diet_all

The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,10000120E,Vegetarian,46,2886.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000014D,Vegan,18,11194.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000015A,Vegetarian,58,45809.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000016E,Vegetarian,32,150863.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000027E,Vegan,61,64446.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362749,999917E,Vegetarian,28,169413.0,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
362750,999936C,Omnivore,22,15072.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362751,99993D,Vegetarian,58,45809.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362752,99994A,Vegetarian,18,373964.0,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts
362753,999991A,Vegetarian,21,45809.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
# Fill the rest of the missing values in the merged_diet_all by mapping them from requests.csv with RecipeId as key 
# Create mapping DataFrames from `requests`
map_time = requests.set_index('RecipeId')['Time'].to_dict()
map_calories = requests.set_index('RecipeId')['HighCalories'].to_dict()
map_protein = requests.set_index('RecipeId')['HighProtein'].to_dict()
map_fat = requests.set_index('RecipeId')['LowFat'].to_dict()
map_sugar = requests.set_index('RecipeId')['LowSugar'].to_dict()
map_fiber = requests.set_index('RecipeId')['HighFiber'].to_dict()

# Apply mapping to `merged_diet_all`
merged_diet_all['Time'] = merged_diet_all['RecipeId'].map(map_time)
merged_diet_all['HighCalories'] = merged_diet_all['RecipeId'].map(map_calories)
merged_diet_all['HighProtein'] = merged_diet_all['RecipeId'].map(map_protein)
merged_diet_all['LowFat'] = merged_diet_all['RecipeId'].map(map_fat)
merged_diet_all['LowSugar'] = merged_diet_all['RecipeId'].map(map_sugar)
merged_diet_all['HighFiber'] = merged_diet_all['RecipeId'].map(map_fiber)
merged_diet_all

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,10000120E,Vegetarian,46,2886.0,NaN,NaN,NaN,4198.933093,1.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000014D,Vegan,18,11194.0,NaN,NaN,NaN,600.014974,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000015A,Vegetarian,58,45809.0,NaN,NaN,NaN,14399.381563,1.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000016E,Vegetarian,32,150863.0,NaN,NaN,NaN,3600.420005,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000027E,Vegan,61,64446.0,NaN,NaN,NaN,2099.032638,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362749,999917E,Vegetarian,28,169413.0,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
362750,999936C,Omnivore,22,15072.0,NaN,NaN,NaN,2280.037298,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362751,99993D,Vegetarian,58,45809.0,NaN,NaN,NaN,14399.381563,1.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362752,99994A,Vegetarian,18,373964.0,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts
362753,999991A,Vegetarian,21,45809.0,NaN,NaN,NaN,14399.381563,1.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**DONE**

In [215]:
final_data = merged_diet_all
final_data['AuthorId'], unique_authorids = pd.factorize(final_data['AuthorId'])

final_data

,AuthorId,Diet,Age,RecipeId,Rating,Like,TestSetId,Time,HighCalories,HighProtein,...,FatContent,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,0,Vegetarian,46,2886.0,NaN,NaN,NaN,4198.933093,1.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Vegan,18,11194.0,NaN,NaN,NaN,600.014974,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Vegetarian,58,45809.0,NaN,NaN,NaN,14399.381563,1.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Vegetarian,32,150863.0,NaN,NaN,NaN,3600.420005,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Vegan,61,64446.0,NaN,NaN,NaN,2099.032638,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362749,271902,Vegetarian,28,169413.0,2.0,False,NaN,3600.387748,0.0,Indifferent,...,8.6,4.7,66.5,521.9,24.8,1.7,3.4,5.6,8.0,NaN
362750,271903,Omnivore,22,15072.0,NaN,NaN,NaN,2280.037298,0.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362751,271904,Vegetarian,58,45809.0,NaN,NaN,NaN,14399.381563,1.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362752,271905,Vegetarian,18,373964.0,NaN,NaN,7555.0,7199.509521,0.0,Yes,...,0.2,0.0,0.0,5.6,36.2,0.2,33.6,0.2,16.0,3 quarts
362753,271906,Vegetarian,21,45809.0,NaN,NaN,NaN,14399.381563,1.0,Indifferent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data Visualization

Random Forest Classifier

In [213]:
# Step 1: Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [214]:
# Step 2: Load cleaned data
def load_cleaned_data():
    # Replace this function with your data loading and cleaning logic
    # Example assumes X contains features and y contains labels
    data = pd.read_csv('cleaned_data.csv') # can also pass a data frame
    X = data.drop('target_column', axis=1)
    y = data['target_column']
    return X, y

X, y = load_cleaned_data()

FileNotFoundError: [Errno 2] No such file or directory: 'cleaned_data.csv'

In [ ]:
# Step 3: Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Step 4: Choose a Random Forest Classifier model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

In [ ]:
# Step 5: Train the model
rf_model.fit(X_train, y_train)

In [ ]:
# Step 6: Make predictions on the test set
predictions = rf_model.predict(X_test)

In [ ]:
# Step 7: Evaluate the model
accuracy = accuracy_score(y_test, predictions)
report = classification_report(y_test, predictions)
print(f"Accuracy: {accuracy}")
print(f"Classification Report:\n{report}")